# gitignore - Specifies intentionally untracked files and folders to ignore.
# https://git-scm.com/docs/gitignore

# prototyping directories
._*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*

# Tokens & Secrets
.env
tokenfile
output
